<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rouyi.flow.repo.dao.IActWorkflowDao">

    <resultMap id="approvalRecordItemDto" type="com.rouyi.flow.domain.dto.ApprovalRecordNodeDto$ApprovalRecordItemDto">
        <result  column="END_TIME_"   property="time"     />
         <result  column="FULL_MSG_"   property="comment"     />
         <result  column="APPROVAL_RESULT"   property="approvalResult"     />
         <result  column="user_name"   property="userName"     />
         <result  column="ASSIGNEE_"   property="assignee"     />
         <result  column="ACT_NAME_"   property="actName"     />
    </resultMap>

    <resultMap id="approvalRecordNode" type="com.rouyi.flow.domain.dto.ApprovalRecordNodeDto">

         <result  column="START_TIME_"   property="time"     />
         <result  column="ID_"   property="actHiInstId"     />
         <result  column="ACT_ID_"   property="actId"     />
         <result  column="TASK_ID_"   property="taskId"     />
         <result  column="ACT_TYPE_"   property="actType"     />
         <result  column="ACT_NAME_"   property="actName"     />
         <result  column="ASSIGNEE_"   property="assignee"     />
         <result  column="NAME_"   property="actName"     />
    </resultMap>

    <resultMap id="processApproved" type="com.rouyi.flow.domain.dto.ProcessTodoDto">
        <result  column="PROC_DEF_ID_"   property="processDefinitionId"     />
        <result  column="CASE_INST_ID_"   property="caseInstanceId"     />
        <result  column="PROC_INST_ID_"   property="processInstanceId"     />
        <result  column="business_name"   property="businessName"     />
        <result  column="PROC_DEF_KEY_"   property="businessCode"     />
        <result  column="NAME_"   property="processName"     />
        <result  column="END_TIME_"   property="endTime"     />
        <result  column="ID_"   property="taskId"     />
    </resultMap>

    <update id="updateApprovalResult" >
        update ACT_HI_TASKINST set APPROVAL_RESULT=#{approvalResult} where ID_=#{taskId}
    </update>
    
    <select id="queryApprovalNodeItem" resultMap="approvalRecordItemDto">
        select A.ID_, ACT_ID_, A.TASK_ID_, ACT_TYPE_, ACT_NAME_, A.ASSIGNEE_,A.END_TIME_ , B.APPROVAL_RESULT, C.FULL_MSG_
        from ACT_HI_ACTINST A
        left join ACT_HI_TASKINST B on A.TASK_ID_=B.ID_
        left join ACT_HI_COMMENT C on A.TASK_ID_=C.TASK_ID_
        where
            A.PROC_INST_ID_=#{processInstanceId}
          and A.PARENT_ACT_INST_ID_=#{actHiInstId}
          and A.ACT_TYPE_  in ('multiInstanceBody', 'userTask')
          and (
                (B.DELETE_REASON_ = 'deleted' and  B.APPROVAL_RESULT is not null)
                OR
                (B.DELETE_REASON_ = 'completed' and  B.APPROVAL_RESULT is not null)
                OR
                (B.DELETE_REASON_ is null and  B.APPROVAL_RESULT is null)
            )
        order by A.START_TIME_ desc
    </select>

    <select id="queryApproved" resultMap="processApproved">
        select distinct A.ID_, PROC_DEF_ID_,CASE_INST_ID_, PROC_DEF_KEY_, PROC_INST_ID_,
                        B.business_name, A.END_TIME_,
                         procdef.NAME_ from ACT_HI_TASKINST A
                        left join t_act_expand_business B on A.PROC_DEF_KEY_=B.business_code
                        left join ACT_RE_PROCDEF procdef on A.PROC_DEF_ID_=procdef.ID_
        where ASSIGNEE_=#{userId} and A.TASK_DEF_KEY_ not  like 'Submitter%'
        <if test="businessKey != '' and businessKey !=null ">
            and A.PROC_DEF_KEY_ = #{businessKey}
        </if>
        <if test="beginDate !=null ">
            and A.END_TIME_ between #{beginDate} and #{endDate}
        </if>
        order by  A.END_TIME_ desc
    </select>

    <select id="queryCurrentApprover" resultType="java.lang.String">
        select ASSIGNEE_ from ACT_RU_TASK where EXECUTION_ID_ in (
            select id_ from ACT_RU_EXECUTION where PROC_INST_ID_=#{procInstId}
                                               and IS_ACTIVE_=1
        )
    </select>

    <select id="queryActNodeByProcInsId" resultMap="approvalRecordNode">
        select ID_, ACT_ID_, TASK_ID_, ACT_TYPE_, ACT_NAME_, ASSIGNEE_, START_TIME_ from ACT_HI_ACTINST
        where PARENT_ACT_INST_ID_=#{processInstanceId}
        and ACT_TYPE_  in ('multiInstanceBody', 'userTask')
        order by START_TIME_ desc

    </select>
</mapper> 